<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            const userId = '${loginUser.userId}';
            $(function() {
                alert("hello");
            });
        </script>
    </th:block>
    <th:block layout:fragment="css">
        <style>
            body {
                height: 100%;
            }
        </style>
    </th:block>
</head>
<body>
    <div layout:fragment="content">
        <div style="text-align: center;">
            <h1>게시판 홈</h1>
            <p>간단한 게시판 기능 구현</p>
        </div>
    </div>
</body>
</html>