<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <header th:fragment="header">
        <h1>
            <a href="#">홈</a>
        </h1>
        <nav>
            <ul class="main-nav">
                <li>
                    <a href="#">게시글 목록</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="user-nav">
                <li>
                    <a href="#">로그인</a>
                </li>
                <li>
                    <a href="#">회원가입</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>